In [1]:
# Importing libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
import re

import scipy as sp
import plotly.graph_objects as go
from plotly.subplots import make_subplots
from sklearn import datasets, model_selection, metrics
from scipy.stats import ttest_ind
from scipy import stats
from scipy.stats import boxcox
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from scipy.stats import pearsonr
import scipy.stats as st

In [2]:
#load data
df = pd.read_csv('../raw data/supermarket_sales - Sheet1 2.csv')
df.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

In [3]:
# format column titles:
def format_column_titles(df):
    # Define a function to clean a single column name
    def clean_column(name):
        name = name.strip()  # Remove leading and trailing spaces
        # Replace non-alphanumeric characters with underscores
        name = re.sub(r'[^0-9a-zA-Z]+', '_', name)
        # Replace multiple underscores with a single underscore
        name = re.sub(r'_+', '_', name)
        name = name.lower()  # Convert to lowercase
        return name.strip('_')  # Remove leading and trailing underscores

    # Apply the clean_column function to all column names in the DataFrame
    df.columns = [clean_column(col) for col in df.columns]
    return df.columns

format_column_titles(df)

Index(['invoice_id', 'branch', 'city', 'customer_type', 'gender',
       'product_line', 'unit_price', 'quantity', 'tax_5', 'total', 'date',
       'time', 'payment', 'cogs', 'gross_margin_percentage', 'gross_income',
       'rating'],
      dtype='object')

In [4]:
df['date'] = pd.to_datetime(df['date'])
df['date'].dtypes

dtype('<M8[ns]')

In [5]:
df['time'] = pd.to_datetime(df['time'])
df['time'].dtypes

/var/folders/76/0pntsdld7bg_p5gzgms4gghw0000gn/T/ipykernel_65168/3933933870.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['time'] = pd.to_datetime(df['time'])

dtype('<M8[ns]')

In [6]:
# (Nat)Check Unique values, %, Missing values, %, data type:
def unique_and_missing_values_dtype(df):
    # Non-null counts and data types
    non_null_counts = df.notnull().sum()
    dtypes = df.dtypes

    # Count of unique values
    unique_count = df.nunique()

    # Percentage of unique values
    unique_percentage = (df.nunique() / len(df)) * 100

    # Count of missing values
    missing_count = df.isnull().sum()

    # Percentage of missing values
    missing_percentage = df.isnull().mean() * 100

    # Combine into a DataFrame
    summary = pd.DataFrame({
        'non-Null_count': non_null_counts,
        'dtype': dtypes,
        'unique_values': unique_count,
        '%_unique': unique_percentage.round(2).astype(str) + '%',
        'missing_values': missing_count,
        '%_missing': missing_percentage.round(2).astype(str) + '%'
    })

    return summary

unique_and_missing_values_dtype(df)

,non-Null_count,dtype,unique_values,%_unique,missing_values,%_missing
invoice_id,1000,object,1000,100.0%,0,0.0%
branch,1000,object,3,0.3%,0,0.0%
city,1000,object,3,0.3%,0,0.0%
customer_type,1000,object,2,0.2%,0,0.0%
gender,1000,object,2,0.2%,0,0.0%
product_line,1000,object,6,0.6%,0,0.0%
unit_price,1000,float64,943,94.3%,0,0.0%
quantity,1000,int64,10,1.0%,0,0.0%
tax_5,1000,float64,990,99.0%,0,0.0%
total,1000,float64,990,99.0%,0,0.0%
date,1000,datetime64[ns],89,8.9%,0,0.0%
time,1000,datetime64[ns],506,50.6%,0,0.0%
payment,1000,object,3,0.3%,0,0.0%
cogs,1000,float64,990,99.0%,0,0.0%
gross_margin_percentage,1000,float64,1,0.1%,0,0.0%
gross_income,1000,float64,990,99.0%,0,0.0%
rating,1000,float64,61,6.1%,0,0.0%

In [7]:
# (Nat)Data checking
def initial_data_checking(df):
    # Print the shape of the DataFrame (number of rows and columns)
    print("\nShape of the DataFrame:\n")
    print(df.shape)

    # Print the count of duplicate rows
    print("\nDuplicate Rows Number:\n")
    print(df.duplicated().sum())

    # Print summary statistics for numerical columns
    print("\nSummary Statistics:\n")
    print(df.describe())
    
initial_data_checking(df)

Shape of the DataFrame:

(1000, 17)

Duplicate Rows Number:

0

Summary Statistics:

        unit_price     quantity        tax_5        total  \
count  1000.000000  1000.000000  1000.000000  1000.000000
mean     55.672130     5.510000    15.379369   322.966749
min      10.080000     1.000000     0.508500    10.678500
25%      32.875000     3.000000     5.924875   124.422375
50%      55.230000     5.000000    12.088000   253.848000
75%      77.935000     8.000000    22.445250   471.350250
max      99.960000    10.000000    49.650000  1042.650000
std      26.494628     2.923431    11.708825   245.885335

                             date                        time        cogs  \
count                        1000                        1000  1000.00000
mean   2019-02-14 00:05:45.600000  2024-08-06 15:24:41.880000   307.58738
min           2019-01-01 00:00:00         2024-08-06 10:00:00    10.17000
25%           2019-01-24 00:00:00         2024-08-06 12:43:00   118.49750
50%           2019-02-13 00:00:00         2024-08-06 15:19:00   241.76000
75%           2019-03-08 00:00:00         2024-08-06 18:15:00   448.90500
max           2019-03-30 00:00:00         2024-08-06 20:59:00   993.00000
std                           NaN                         NaN   234.17651

       gross_margin_percentage  gross_income      rating
count             1.000000e+03   1000.000000  1000.00000
mean              4.761905e+00     15.379369     6.97270
min               4.761905e+00      0.508500     4.00000
25%               4.761905e+00      5.924875     5.50000
50%               4.761905e+00     12.088000     7.00000
75%               4.761905e+00     22.445250     8.50000
max               4.761905e+00     49.650000    10.00000
std               6.131498e-14     11.708825     1.71858

In [10]:
df['date'].describe()

count                          1000
mean     2019-02-14 00:05:45.600000
min             2019-01-01 00:00:00
25%             2019-01-24 00:00:00
50%             2019-02-13 00:00:00
75%             2019-03-08 00:00:00
max             2019-03-30 00:00:00
Name: date, dtype: object

In [9]:
#export cleaned dataset
df_cleaned = df.to_csv('../df_cleaned.csv', index=False)